:root {
  /* Color styles */
  --orange_main_gradient: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  --yellow: #ffee2e;
  --orange_light_gradient: linear-gradient(226deg, #febdab 6.48%, #f3a9f8 22.51%, #e0d8f0 45.57%, #eaf7fe 82.33%, #eaf7fe 99.1%);
  --pink_gradient: linear-gradient(226deg, #febdab 6.48%, #f3a9f8 22.51%, #e0d8f0 45.57%, #eaf7fe 82.33%, #eaf7fe 99.1%);
  --black_blue: #333b41;
  --green: #4b9200;
  --frosted_glass_white: #fdfdff;
  --gray_light: #f1f3f2;
  --gray: #767474;
  --gray_smoky: #ababab;
  --rad: #d31414;
}

@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Regular.ttf;) src: url();
}

body {
  font-family: 'Roboto', sans-serif;
}